@import url('https://fonts.googleapis.com/css?family=Lora:700|Oswald');

body {
	color: white;
	background-color: whitesmoke;
	font-family: Helvetica, sans-serif;
	background: url("https://i.ytimg.com/vi/8JJYBHgtlgc/maxresdefault.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	margin-right: 300px;
	margin-left: 300px;
	margin-top: 220px;
}


hr{
	width: 200px;
}


h1{
	color: #A9AF99;
	font-family: 'Lora', serif;
}

h3{
	color: indigo;
}

#slogan {
	color: white;
	font-style: italic;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

#contact {
	color: black;
	font-family: 'Oswald', sans-serif;
}

p{
	color: white;
	font-family: 'Oswald', sans-serif;
}

a{
	text-decoration: none;
	color: white;
	font-family: 'Oswald', sans-serif;
}
