body {
	color: white;
	background-color: whitesmoke;
	font-family: Helvetica, sans-serif;
	background: url("https://i.ytimg.com/vi/8JJYBHgtlgc/maxresdefault.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h3{
	color: indigo;
}

h1{
	color: #A9AF99;
}

#slogan {
	color: black;
	font-style: italic;
	font-weight: bold;
}

p{
	color: white;
}

