body {
	color: white;
	background-color: whitesmoke;
	font-family: Helvetica, sans-serif;
	background: url("https://i.ytimg.com/vi/8JJYBHgtlgc/maxresdefault.jpg");
	background-size: cover;
}

h3{
	color: indigo;
}

h1{
	color: #302632;
}


p{
	color: rgb(00,00,00);
}